{
  "extends": "airbnb",
  "env": {
    "mocha": true
  },
  "rules": {
    "no-console": 0,
    "new-cap": 0,
    "no-new": 0,
    "camelcase": 0,
    "id-length": [
      2,
      {
        "exceptions": ["_", "Q"]
      }
    ]
  }
}
